"*":
  "activate-power-mode":
    autoToggle: false
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "b1f78f78-1b50-45cf-8acd-d5fc00267baf"
  "circle-ci":
    apiToken: "aaeb24433649ae33eaddad16b2da35a553cf8874"
  core:
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "circle-ci"
      "github"
      "merge-conflicts"
      "git-plus"
      "react-es6-snippets"
      "react"
      "arduino-upload"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "bower_components"
      "__pycache__"
      "*.pyc"
    ]
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
      "git-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code "
    fontSize: 19
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "c17350f3-e8cb-2e43-d2e2-b460fc54dc04"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "ed178489-d1ba-4896-bf4c-8c58ba6d5d26"
      splitPane: "Right"
  hidpi:
    scaleFactor: 1.1
    startupDelay: 0
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  linter:
    disabledProviders: [
      "CoffeeLint"
      "ESLint"
    ]
    lintOnChange: false
  "linter-eslint":
    disableFSCache: true
    disableWhenNoEslintConfig: false
    eslintrcPath: "~"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "one-dark-ui":
    hideDockButtons: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
  "vim-mode":
    startInInsertMode: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    debug: true
  "wakatime-hidden":
    lastInit: 1492555628
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
