packages: [
  "atom-alignment"
  "atom-beautify"
  "atom-handlebars"
  "atom-ide-ui"
  "atom-jest-snippets"
  "atom-typescript"
  "busy-signal"
  "change-case"
  "duotone-dark-syntax"
  "editorconfig"
  "emmet"
  "erb-helper"
  "es6-javascript"
  "file-icons"
  "git-plus"
  "goto"
  "highlight-selected"
  "intentions"
  "jumpy"
  "language-arduino"
  "language-awk"
  "language-babel"
  "language-diff"
  "language-groovy"
  "language-liquid"
  "language-nginx"
  "language-pug"
  "language-tmux"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "no-title-bar"
  "oceanic-next"
  "package-sync"
  "pigments"
  "pretty-json"
  "set-syntax"
  "sort-selected-elements"
  "Sublime-Style-Column-Selection"
  "todo-show"
  "turbo-javascript"
  "vim-mode-plus"
  "wakatime"
]
