"*":
  "activate-power-mode":
    autoToggle: false
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "b1f78f78-1b50-45cf-8acd-d5fc00267baf"
  "circle-ci":
    apiToken: "aaeb24433649ae33eaddad16b2da35a553cf8874"
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "circle-ci"
      "github"
      "merge-conflicts"
      "react-es6-snippets"
      "react"
      "vim-mode"
      "linter-coffeelint"
      "regex-railroad-diagram"
      "docblockr"
      "background-tips"
      "language-gradle"
      "git-plus"
      "emmet"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "bower_components"
      "__pycache__"
      "*.pyc"
    ]
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
      "git-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "c17350f3-e8cb-2e43-d2e2-b460fc54dc04"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "ed178489-d1ba-4896-bf4c-8c58ba6d5d26"
      splitPane: "Right"
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  linter:
    disabledProviders: [
      "CoffeeLint"
    ]
    lintOnChange: false
  "linter-eslint":
    advanced:
      disableFSCache: true
    disabling:
      disableWhenNoEslintConfig: false
    global:
      eslintrcPath: "~"
  "linter-ui-default":
    panelHeight: 300
  "one-dark-ui":
    hideDockButtons: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    startInInsertMode: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    debug: true
  "wakatime-hidden":
    lastInit: 1492555628
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
