packages: [
  "activate-power-mode"
  "atom-alignment"
  "atom-beautify"
  "atom-django"
  "atom-handlebars"
  "blame"
  "busy-signal"
  "change-case"
  "circle-ci"
  "django-templates"
  "docblockr"
  "duotone-dark-syntax"
  "emmet"
  "erb-helper"
  "es6-javascript"
  "file-icons"
  "git-plus"
  "highlight-selected"
  "intentions"
  "language-arduino"
  "language-babel"
  "language-diff"
  "language-gradle"
  "language-groovy"
  "language-haml"
  "language-liquid"
  "language-pegjs"
  "language-pug"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-ui-default"
  "merge-conflicts"
  "mocha-test-runner"
  "no-title-bar"
  "oceanic-next"
  "package-sync"
  "pigments"
  "pretty-json"
  "rails-snippets"
  "react"
  "react-es6-snippets"
  "regex-railroad-diagram"
  "set-syntax"
  "Sublime-Style-Column-Selection"
  "todo-show"
  "vim-mode"
  "vim-mode-plus"
  "wakatime"
  "Zen"
]
